@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-heading {
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF;
}

@media (max-width: 800px) {
  .page-heading {
    display: none;
  }
 }

.logo-header {
  max-height: 35px;
}

.home-main {
  max-width: 1000px;
  margin: auto;
  margin-top: 80px;
}

.defaultavatar {
  width: 40px;
  height: 40px;
  font-size: 30px;
  padding: 5px;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.update-profil__avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.image-container {
  overflow: hidden;
  width: 100%;
  max-height: 400px;
  text-align: center;
  padding: 0;
  margin: 0; 
}

.image-post {
  background-color: white;
  width: 100%;
  height: auto;
  max-height: 400px;
  max-width: 700px;
  object-fit: contain;
  object-position: center top;
  margin: auto;
  padding: 0;
}

.label-file {
  cursor: pointer;
  font-size: 22px;
}

.input-file {
  display: none;
}

.author-name {
  padding-left: 15px;
}

.underlined {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
}

.nopadding {
  padding: 0;
}

.huge {
  font-size: 36px;
  margin: auto;
}

.big {
  font-size: 24px;
  margin: auto;
}

.post-card {
  border-radius: 0.7em;
}

@media (max-width: 560px) { 
  .post-card {
    border-radius: 0%;
  }
 }